!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-override.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
  </head>
  <body>

    <!-- ヘッダ領域 -->
    <div th:replace="~{components/header :: header}"></div>
    
    <!-- コンテンツ領域 -->
    <div layout:fragment="contents"></div>

    <!-- フッタ領域 -->
    <div th:replace="~{components/footer :: footer}"></div>

    <!-- この位置に記述するのはよくないが動作しないので一応ここに記述 -->
    <script>
      const picker = new Litepicker({
        element: document.getElementById('scheduled-date'),
        autoRefresh: true,
        // 本日以降
        minDate: new Date(),
        format: 'YYYY-MM-DD', // 日付フォーマット
        setup: (picker) => {
          picker.on('selected', (el) => {
            var date = document.querySelector("#scheduled-date").value;
            var statusSelect = document.querySelector("#status");

            if (new Date(date) > new Date()) {
              statusSelect.innerHTML = `
                <option value="1">入荷予定</option>
              `;
            } else {
              statusSelect.innerHTML = `
                <option value="1">入荷予定</option>
                <option value="2">入荷済み</option>
                <option value="3">出荷予約</option>
              `;
            }

          });
        }
      });
    </script>
  </body>
</html>
