<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layouts}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ユーザー登録</title>
  </head>
  <body>
    <div class="m-2" layout:fragment="contents">
      <div class="mx-3">
        <h1>ユーザー登録</h1>
        <form th:action="@{/user/create}" th:object="${userForm}" method="post">
          <div th:if="${error}">
            <p class="alert alert-waning" th:text="#{${error}}"></p>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="last-name-text">名字 : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'" th:field="*{lastName}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('lastNameKana')}" th:errors="*{lastNameKana}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="last-name-kana-text">名字(かな) : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('lastNameKana')} ? 'has-error'" th:field="*{lastNameKana}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="first-name-text">名前 : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'" th:field="*{firstName}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('firstNameKana')}" th:errors="*{firstNameKana}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="first-name-kana-text">名前(かな) : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('firstNameKana')} ? 'has-error'" th:field="*{firstNameKana}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="age-text">年齢 : </label>
              <input type="number" class="form-control form" th:classappend="${#fields.hasErrors('age')} ? 'has-error'" th:field="*{age}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="phone-number-text">電話番号 : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error'" th:field="*{phoneNumber}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
            <div class="d-flex mb-3">
              <label class="col-4 my-auto" id="postal-code-text">郵便番号 : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('postalCode')} ? 'has-error'" th:field="*{postalCode}" />
            </div>
          </div>
          <div class="row col-6 col-md-5">
            <span class="valid-error-text" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
            <div class="mb-3 d-flex">
              <label class="col-4 my-auto" id="address-text">住所 : </label>
              <input type="text" class="form-control form" th:classappend="${#fields.hasErrors('address')} ? 'has-error'" th:field="*{address}" />
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary">登録</button>
        </form>
      </div>
    </div>
  </body>
</html>
