<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layouts}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>エラーページ</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container p-2">
        <div class="text-bg-danger rounded p-2 mb-2">
          <h1>Status:<span th:text="${error_status}"></span></h1>
        </div>
        <p>エラーが発生しました。</p>
      </div>
    </div>
  </body>
</html>
